INVENTORY_AGENT_URL=http://127.0.0.1:8003
SUPPLY_AGENT_URL=http://127.0.0.1:8004
PRODUCTION_AGENT_URL=http://127.0.0.1:8005
DEMAND_AGENT_URL=http://127.0.0.1:8002
EVENT_AGENT_URL=http://127.0.0.1:8001
RECOMMENDATION_AGENT_URL=http://127.0.0.1:8006
PORT=8000
