DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/manusphere
NEWS_API_KEY=c5a4cec102db4e02a4088a2b859c1d2d
WEATHER_API_KEY=afb72edba79762bc8b70de6716270d9a
GEMINI_API_KEY=xai-VS76RYNYczFGho07rbfVBCXoYPEAmMeioH8OrlfcQxrFfGqODv3pRQXYkY4Rj13nvc8kFtjxLroWxBpCe
PORT=8000
